@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$nav-size: 8vh;
$margin-size: 1rem;
$text-margin-size: 8px;
$font-family-heading: 'Playfair Display', Helvetica, Arial, sans-serif;
$font-family-paragraph:  Montserrat, Helvetica, Arial, sans-serif;
$grid-column-gap: 2rem;
$section-padding: 2rem;
$section-title-size: 2.3rem;
$section-paragraph-size: 1.2rem;
$title-margin-size: 1.5rem;
