@use 'variables';
@use 'colors';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: variables.$font-family-paragraph;
    :is(h1, h2, h3, h4, h5, h6) {
        font-family: variables.$font-family-heading;
    }
    :is(section) {
        padding: 2rem 1rem;
    }
  }
  
  html {
      scroll-behavior: smooth;
  }

.grid {
    max-width: 2100px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: variables.$grid-column-gap;
    width: 100%; 
}

.items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    @include mixins.section-title(#242424, variables.$section-title-size);
    margin-bottom: variables.$title-margin-size;
    width: auto;
}

@media screen and (min-width: 900px) {
    .title-img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 900px) {
    .title-img {
        display: none;
    }
}